html{
    background: rgb(255, 177, 65);
}
body {
    position: relative;
    left: -8px;
    right: -8px;
    top: 0;
    bottom: 0;
    width: 101%;
    height: fit-content;
    overflow-x: hidden;
    background:#ffe8bc;
}

img {
    cursor: pointer;
}

.header {
    width: 100%;
    height: 80px;
    background: rgb(255, 177, 65);
    background: radial-gradient(circle, rgba(255, 177, 65, 1) 0%, rgba(251, 141, 23, 1) 100%);
    box-shadow: 1px 1px 4px black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.logo {
    margin-left: 40px;
    margin-right: 20px;
}

.search-bar {
    height: 50px;
    width: 250px !important;
    width: fit-content;
    margin-left: 0;
    border-radius: 40px;
    margin-right: 45%;
}

.search-bar::placeholder {
    font-size: 20px;
    margin-left: 20px;
}

.header p {
    font-size: 150%;
    color: #fff;
    width: fit-content;
}

.header p:hover {
    text-decoration: underline;
    transition: 2s all;
    cursor: pointer;
}
.avt {
    background-color: #fff;
    padding: 10px 10px;
    border: 2px solid #000;
    border-radius: 50px;
    margin-right: 30px;
}

.best-sale {
    width: 101%;
    height: 550px;
    background: rgb(255, 177, 65);
    position: relative;
    left: -8px;
    top: 0px;
}

.best-sale ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.best-sale li {
    background-color: #ffffff;
    width: 50px;
    height: 5px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 1s all;
    cursor: pointer;
}

.best-sale-container {
    height: 90%;
    width: 70%;
    background-color: #fff;
    margin-top: 8%;
    margin-left: 15%;
    overflow: hidden;
}

.qcs {
    height: 100%;
    display: flex;
    transition: 1s all;
}

.qc {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    width: 101%;
    height: fit-content;
    background-color: #ffe8bc;
    position: relative;
    left: -8px;
    top:-25px;
}

.prefer {
    width: 50%;
    height: fit-content;
    background-color: #fff;
    margin-left: 25%;
    border: 0px solid #000;
    border-radius: 50px;
    position: relative;
    top: 50px;
}

.prefer p {
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
    color: #fca23f;
    margin-top: 20px;
}

.select-prefer-foods {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.select-prefer-foods div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.select-prefer-foods img {
    height: 80px;
    width: fit-content;
}

.select-prefer-foods p {
    font-size: 20px;
    margin-bottom: 50px;
}
.select-prefer-food{
    cursor: pointer;
}
.select-prefer-foods p:after {
    text-decoration: underline;
}

.brand {
    width: 60%;
    height: fit-content;
    background-color: #ffe8bc;
    margin-left: 20%;
    margin-top: 150px;
    border-radius: 20px;
}

.brand p:first-child {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-align: center;
    position: relative;
    top: 20px;
    text-shadow: 1px 1px 3px #000;
}

.brands-logo {
    display: flex;
    flex-wrap: wrap;
}

.brand-logo {
    height: 150px;
    width: 15%;
    background-color: #fff;
    color: #fff;
    text-shadow: 1px 1px 4px #000;
    margin: 30px 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 75px;
    cursor: pointer;
}

.brand-logo:hover {
    box-shadow: 1px 1px 6px rgb(0, 0, 0);
}

.brand-logo p {
    margin-top: 150px;
    text-align: center;
    font-size: 25px;
}
.footer{
    width: 101%;
    height: fit-content;
    background-image: url(src/footer-desktop.727f3a2.png);
    background-size: cover;
    margin-left: -8px;
    margin-bottom: -8px;

}
.contact{
    display: flex;
    justify-content: flex-end;
    height:100px;

}
.footer p{
    color: #fff;
    font-size: 25px;
    margin:0px 0px;
    align-self: center;
}
.footer img{
    height:50px;
    width: 50px;
    align-self: center;
}
.footer img:last-child{
    margin-right: 50px;
}
#food-list{
    width: 80%;
    margin-left:10%;
    height:fit-content;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}
#food-list div{
    width: 12.6%;
    height:fit-content;
    margin: 40px 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-image{
    border-radius: 20px;
    width: 100%;
}
.product-image:hover{
    box-shadow: 1px 1px 6px rgb(63, 63, 63);
}
.product-name{
    font-size:120%;
    color:#fca23f;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    width:100% !important;
    cursor: pointer;
}