html {
    background: #ffe8bc;
}

body {
    position: relative;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0;
    width: 100%;
    height: max-content;
    overflow-x: hidden;
    background: #ffe8bc;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

p {
    cursor: pointer;
}

img {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 80px;
    background: rgb(255, 177, 65);
    background: radial-gradient(circle, rgba(255, 177, 65, 1) 0%, rgba(251, 141, 23, 1) 100%);
    box-shadow: 1px 1px 4px black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.logo {
    margin-left: 40px;
    margin-right: 20px;
}

.bar {
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
}

.search-bar {
    height: 50px;
    width: 300px !important;
    width: max-content;
    margin-left: 0;
    border-radius: 40px;
    margin-right: 30%;
}

.search-bar::placeholder {
    font-size: 20px;
    margin-left: 20px;
}

.header p {
    color: #fff;
    width: max-content;

}

.header p:hover {
    text-decoration: underline;
    transition: 2s all;
    cursor: pointer;
}

.datban {
    font-size: 23px;
    font-weight: 600;
    margin: 0px 0px;
}

.header p:last-child {
    text-decoration: none;
}

.cart-info {
    display: flex;
    height: 60%;

}

.cart-num {
    /* font-size:20px !important; */
    text-align: center;
    align-self: center;
    margin-top: -15px;
    margin-left: 2px;
    height: 30px;
    width: 30px !important;
    border: 2px solid #fff;
    border-radius: 50%;
}

.avt {
    background-color: #fff;
    padding: 10px 10px;
    border: 2px solid #000;
    border-radius: 50px;
    margin-right: 30px;
}

.login {
    font-size: 23px;
    font-weight: 600;
    margin: 0px 0px;
    margin-right: 50px;
}

.cart {
    margin: 0px 30px;
    margin-top: 5px;
}

.best-sale {
    width: 100%;
    height: max-content;
    background: #FFB141;
    position: relative;
    top: -5px;
    bottom: 0;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.best-sale ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.best-sale li {
    background-color: #ffffff;
    width: 50px;
    height: 5px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 1s all;
    cursor: pointer;
}

.best-sale-container {
    height: max-content;
    width: 80%;
    background-color: rgb(255, 177, 65);
    overflow: hidden;
    padding: 3% 0px;
}

.qcs {
    height: 100%;
    display: flex;
    transition: 1s all;
}

.qc {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    width: 101%;
    height: max-content;
    background-color: #ffe8bc;
    position: relative;
    left: -8px;
    top: -25px;
}

.prefer {
    width: 50%;
    margin-left: 25%;
    height: max-content;
    background-color: #fff;
    border: 0px solid #000;
    border-radius: 50px;
    position: relative;
    top: 50px;
}

.prefer p {
    padding-top: 10px;
    font-size: 40px;
    text-align: center;
    color: #fca23f;
    margin-top: 20px;
}

.select-prefer-foods {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.select-prefer-foods div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-prefer-foods img {
    height: 80px;
    width: max-content;
}

.select-prefer-foods p {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 50px;
}

.select-prefer-food {
    cursor: pointer;
}

.select-prefer-food:hover {
    color: #fca23f;
    text-decoration: underline !important;
}

.rating {
    display: flex !important;
    flex-direction: row !important;
    margin: 3px !important;
}

.review-count {
    width: max-content;
    margin-bottom: -15px;
}

/* .select-prefer-food:active{
    color:#fca23f; 
    text-decoration: underline;
} */
.brand {
    width: 70%;
    height: 540px;
    background-color: #ffe8bc;
    margin-left: 15%;
    margin-top: 140px;
    border-radius: 20px;
}

.brand p:first-child {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-align: center;
    position: relative;
    top: 20px;
    text-shadow: 1px 1px 3px #000;
}

.brands-logo {
    display: flex;
    flex-wrap: wrap;
}

.brand-logo {
    height: 160px;
    width: 15%;
    background-color: #fff;
    color: #fff;
    text-shadow: 1px 1px 4px #000;
    margin: 30px 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.brand-logo:hover {
    box-shadow: 1px 1px 6px rgb(0, 0, 0);
}

.brand-logo p {
    margin-top: 150px;
    text-align: center;
    font-size: 18px !important;
    text-decoration: none !important;
}

.footer {
    width: 100%;
    height: 55px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS72syuAgLEru4e-gl-y--GbT4_cPPIk_egdQ&usqp=CAU);
    background-size: cover;
    margin-left: 0px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;

}

.contact {
    display: flex;
    justify-content: center;
    height: 100%;

}

.footer p {
    color: #fff;
    font-size: 25px;
    margin: 0px 0px;
    align-self: center;
}

.fa-facebook-f {
    color: #fff;
    padding: 8px 8px;
    border-radius: 10px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
}

.fa-instagram {
    color: #fff;
    padding: 8px 8px;
    border-radius: 10px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    margin: 0px 5px;
}

.fa-github {
    color: #fff;
    padding: 8px 8px;
    border-radius: 10px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.footer img:last-child {
    margin-right: 20px;
}
.title-{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.product-image {
    border-radius: 20px;
    width: 100%;
}
#food-title {
    width: 60%;
    height: max-content;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px 0px;
}
.categ{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.categ-image {
    border-radius: 20px;
    width: 40%;

}
.categ-name{
    font-size: 150%;
    text-align: center;
}
.brand-image{
    border-radius: 20px;
    width: 25%;
}
.product-image:hover {
    box-shadow: 1px 1px 6px rgb(63, 63, 63);
}
.food-overlay{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}
#food-list {
    width: 80%;
    height: max-content;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

#food-list div {
    width: 12.6%;
    height: max-content;
    margin: 20px 2%;
    display: flex;
    flex-direction: column;
}
.brand-overlay{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#brand-list{
    width: 80% ;
    margin-top: 50px;
    padding: 50px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
} 
.brand-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brand-image{
    height: 250px;
    width: 250px;
    border-radius: 20px;
}
.brand-name{
    font-size: 35px;
    color: #fca23f;
    cursor: pointer;
}
.product-name {
    font-size: 90%;
    color: #fca23f;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
    width: 100% !important;
    height: 40px !important;
    cursor: pointer;
}

.Price-Add {
    width: 100% !important;
    height: 0px !important;
    flex-direction: row !important;
    margin-top: 5px !important;
    justify-content: space-between;

}

.product-add {
    color: #fff;
    text-align: center;
    margin-top: 0px;
    background-color: #fca23f;
    border-radius: 50%;
    font-size: 20px;
    height: 20px;
    width: 26px;

}


.product-price {
    font-size: 20px;
    color: #fca23f;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 100% !important;
    height: 40px !important;
    cursor: pointer;
    align-self: start !important;
}
.prof-overlay{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 40px;
}
.prof-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prof-user img{
    width: 20%;
}
.prof-in4{
    height: 100%;
    width: 90%;
    background-color: #ffffff;
    padding: 20px 13px;
    border-radius: 20px;
}
.bill-overlay{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bill-list{
    height: 100%;
    width: 90%;
    background-color: #ffffff;
    padding: 20px 13px;
    border-radius: 20px;
}

.add-brand{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.add-brand-overlay{
    display: flex;
    width: 100%;
    justify-content: center;
}
.add-brand-title{
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    background-color: #ffffff;
    border-radius: 20px;
}
.add-brand-btn{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(251, 141, 23, 1) ;
    border-radius: 10px;
    border: 0px;
    box-shadow: 1px 1px 0px 0px rgb(0, 0, 0);;
}
.add-brand-btn a{
    color: #ffffff;
    font-size: 20px;
    padding: 5px 5px;
    font-weight: 600;
}
h2{
    text-align: center;
    font-weight: 700;
}
.admin-categ{
    display: flex;
    justify-content: center;
}
.admin-categ-header{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.admin-categ-overlay{
    width: 70%;
    background-color: white;
    padding: 20px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clerk-overlay{
    width: 100%;
    display: flex;
    justify-content: center;
}
.clerk-list{
    width: 90%;
    background-color: white;
    padding: 40px 30px;
    border-radius: 20px;
}
@media (max-width: 46.188em) {
    .logo {
        height: 50px;
        margin-left: 20px;
    }

    .search-bar {
        margin-right: 0;
        height: 50px;
    }

    .cart-info {
        height: 40px;
    }

    .cart-num {
        font-size: 20px !important;
        height: 22px !important;
        width: 20px !important;
    }

    .avt {
        height: 35px;
    }

    .brand {
        margin-top: 157px;
        height: max-content;
    }
    .brand-overlay{
        background-color: #ffffff !important;
    }
    .brand-container{
        width: 10%;
        display: flex;
    }
    #brand-list{
        width: 25px;
    }
    .brands-logo {
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .brand-logo {
        width: 23.3%;
        height: 120px;
    }

    .brand-logo p {
        margin-top: 110px;
        font-size: 20px !important;
    }

    .text {
        font-size: 50px !important;
    }

    .best-sale {
        height: max-content;
        left: 0px;
        top: -5px;
    }

    .best-sale-container {
        height: 70%;
        background-color: rgb(255, 177, 65);
    }

    ul {
        margin-left: -40px;
        margin-top: 155px;
    }

    .prefer {
        width: 80%;
        margin-left: 10%;
        top: 30px;
    }

    .prefer p {
        font-size: 18px;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    .select-prefer-foods {
        width: 100%;
    }

    .select-prefer-foods p {
        margin-top: 10px;
        font-size: 15px;
        margin-bottom: 50px;
    }

    .select-prefer-food {
        cursor: pointer;
    }

    .select-prefer-food:hover {
        color: #fca23f;
        text-decoration: underline !important;
    }

    #food-list {
        margin-top: 40px;
    }

    #food-list div {
        width: 29.3%;
    }


    .product-name {
        font-size: 120%;
        margin-top: 15px !important;
        height: 45px !important;
    }

    .rating {
        display: flex !important;
        flex-direction: row !important;
        margin: 3px !important;
    }

    .review-count {
        width: 100%;
    }

    .product-price {
        font-size: 15px;
    }

    .product-add {
        font-size: 15px;
        height: 18px;
        margin-top: 2px;
    }

    #food-list div {
        margin: 12px 2%;
    }

    .product-rate img {
        height: 25px !important;
    }
}

@media (min-width: 46.188em) and (max-width:48em) {
    .logo {
        height: 50px;
        margin-left: 20px;
    }

    .search-bar {
        margin-right: 0;
        height: 50px;
    }

    .cart-info {
        height: 40px;
    }

    .cart-num {
        font-size: 20px !important;
        height: 22px !important;
        width: 20px !important;
    }

    .avt {
        height: 35px;
    }

    .brand {
        margin-top: 157px;
        height: max-content;
    }

    .brands-logo {
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .brand-logo {
        width: 23.3%;
        height: 120px;
    }

    .brand-logo p {
        margin-top: 110px;
        font-size: 20px !important;
    }

    .text {
        font-size: 50px !important;
    }

    .best-sale {
        height: max-content;
        left: 0px;
        top: -5px;
    }

    .best-sale-container {
        height: 70%;
        background-color: rgb(255, 177, 65);
    }

    ul {
        margin-left: -40px;
        margin-top: 155px;
    }

    .prefer {
        width: 80%;
        margin-left: 10%;
        top: 30px;
    }

    .prefer p {
        font-size: 18px;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    .select-prefer-foods {
        width: 100%;
    }

    .select-prefer-foods p {
        margin-top: 10px;
        font-size: 15px;
        margin-bottom: 50px;
    }

    .select-prefer-food {
        cursor: pointer;
    }

    .select-prefer-food:hover {
        color: #fca23f;
        text-decoration: underline !important;
    }

    #food-list {
        margin-top: 40px;
    }

    #food-list div {
        width: 29.3%;
    }

    .product-name {
        font-size: 18px;
        margin-top: 15px !important;
        height: 45px !important;
    }

    .rating {
        display: flex !important;
        flex-direction: row !important;
        margin: 3px !important;
    }

    .review-count {
        width: 100%;
    }

    .product-price {
        font-size: 15px;
    }

    .product-add {
        font-size: 15px;
        height: 18px;
        margin-top: 2px;
    }

    #food-list div {
        margin: 12px 2%;
    }

    .product-rate img {
        height: 25px !important;
    }
}

@media (min-width: 48.1em) and (max-width:64em) {
    .logo {
        height: 50px;
        margin-left: 20px;
    }

    .search-bar {
        margin-right: 0;
        height: 50px;
    }

    .cart-info {
        height: 40px;
    }

    .cart-num {
        font-size: 20px !important;
        height: 22px !important;
        width: 20px !important;
    }

    .avt {
        height: 35px;
    }

    .brand {
        margin-top: 157px;
        height: max-content;
    }

    .brands-logo {
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .brand-logo {
        width: 23.3%;
        height: 157px;
    }

    .brand-logo p {
        margin-top: 140px;
        font-size: 20px !important;
    }

    .text {
        font-size: 50px !important;
    }

    .best-sale {
        height: max-content;
        left: 0px;
        top: -5px;
    }

    .best-sale-container {
        height: 70%;
        background-color: rgb(255, 177, 65);
    }

    ul {
        margin-left: -40px;
        margin-top: 25px;
    }

    .prefer {
        width: 50%;
        margin-left: 25%;
        top: 30px;
    }

    .prefer p {
        font-size: 25px;
        padding-top: 10px;

        margin-bottom: 20px;
    }

    .select-prefer-foods {
        width: 100%;
    }

    .select-prefer-foods p {
        margin-top: 10px;
        font-size: 18px;
        margin-bottom: 50px;
    }

    .select-prefer-food {
        cursor: pointer;
    }

    .select-prefer-food:hover {
        color: #fca23f;
        text-decoration: underline !important;
    }

    #food-list {
        margin-top: 40px;
    }

    #food-list div {
        width: 29.3%;
    }

    .product-name {
        font-size: 20px;
        margin-top: 15px !important;
        height: 75px !important;
    }

    .rating {
        display: flex !important;
        flex-direction: row !important;
        margin: 0px !important;
    }

    .Price-Add {
        height: 20px !important;
    }

    .review-count {
        width: 100%;
    }

    .product-price {
        font-size: 18px;
    }

    .product-add {
        font-size: 30px;
        height: 32px;
        width: 36px;
        margin-top: 6px;
    }

    #food-list div {
        margin: 12px 2%;
    }

    .product-rate img {
        height: 30px !important;
    }
}