body {
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    background: rgb(255, 177, 65);
    background: radial-gradient(circle, rgba(255, 177, 65, 0.8) 0%, rgba(251, 141, 23, 0.8) 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    cursor: pointer;
}

.header {
    width: 100%;
    height: 80px;
    background: rgb(255, 177, 65);
    background: radial-gradient(circle, rgba(255, 177, 65, 1) 0%, rgba(251, 141, 23, 1) 100%);
    box-shadow: 1px 1px 4px black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.logo {
    margin-left: 40px;
    margin-right: 20px;
}

.search-bar {
    height: 50px;
    width: 250px;
    margin-left: 0;
    border-radius: 40px;
    margin-right: 40%;
}

.search-bar::placeholder {
    font-size: 20px;
    margin-left: 20px;
}

.header p {
    font-size: 30px;
    color: #fff;
}

.header p:hover {
    text-decoration: underline;
    transition: 2s all;
    cursor: pointer;
}
.header p:last-child {
    text-decoration: none;
}
.cart-info{
    display: flex;
    height:60%;

}
.cart-num{
    font-size:20px !important;
    text-align: center;
    align-self: center;
    margin-top:-15px;
    margin-left: 2px;
    height:30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius:50%;
}
.avt {
    background-color: #fff;
    padding: 10px 10px;
    border: 2px solid #000;
    border-radius: 50px;
    margin-right: 30px;
}
.bar{
    height:50px;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
}
.content {
    width: 60%;
    height: 600px;
    margin-top: 120px;
    margin-left: 20%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration {
    height: 500px;
    width: 30%;
    margin-left: 5%;
    background-color: #ffe8bc;
    border-radius: 10px;
    top: 50px;
    left: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 2;
}

.info {
    flex-grow: 3;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 300%;
    margin: 0px 0px;
    margin-top: 50px;
}

.price-control {
    display: flex;
    width: 100%;
    margin-left: 20%;
    flex-direction: column;
    align-items: left;
    margin-top: 30px;
}

.price {
    font-size: 2em;
    margin: 0px 0px;
    margin-bottom: 20px;
}

.quantity {
    top: 340px;
    left: 50%;
    display: flex;
}

.quantity button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    color: #fff;
    background-color: rgb(255, 177, 65);
    cursor: pointer;
}

.quantity p {
    height: 34px;
    width: 50px;
    text-align: center;
    margin-top: -1px;
    font-size: 30px;
    border: none;
}
.product-rate{
    width: 50px !important;
    align-self: start;
    background-color: #fca23f;
    height: 30px;
    margin-left: 10%;
}
.product-rate img{
    height: 30px !important;
    align-self: start;
}

.add-button {
    height: fit-content;
    padding: 10px 0px;
    width: 60%;
    background-color: rgb(255, 177, 65);
    border-radius: 40px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-top: 50px;
}
.cart-button {
	position: relative;
    top: 20px;
	padding: 10px;
	width: 200px;
	height: 60px;
	border: 0;
	border-radius: 10px;
	background-color: rgb(255, 177, 65);
	outline: none;
	cursor: pointer;
	color: #fff;
	transition: .3s ease-in-out;
	overflow: hidden;
}
.cart-button:hover {
	background-color: rgb(255, 149, 0);
}
.cart-button:active {
	transform: scale(.9);
}

.cart-button .fa-shopping-cart {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: -10%;
	font-size: 2em;
	transform: translate(-50%,-50%);
}
.cart-button .fa-box {
	position: absolute;
	z-index: 3;
	top: -20%;
	left: 52%;
	font-size: 1.2em;
	transform: translate(-50%,-50%);
}
.cart-button span {
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%;
	font-size: 1.2em;
	color: #fff;
	transform: translate(-50%,-50%);
}
.cart-button span.add-to-cart {
	opacity: 1;
}
.cart-button span.added {
	opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
	animation: cart 1.5s ease-in-out forwards;
}
.cart-button.clicked .fa-box {
	animation: box 1.5s ease-in-out forwards;
}
.cart-button.clicked span.add-to-cart {
	animation: txt1 1.5s ease-in-out forwards;
}
.cart-button.clicked span.added {
	animation: txt2 1.5s ease-in-out forwards;
}

@keyframes cart {
	0% {
		left: -10%;
	}
	40%, 60% {
		left: 50%;
	}
	100% {
		left: 110%;
	}
}
@keyframes box {
	0%, 40% {
		top: -20%;
	}
	60% {
		top: 40%;
		left: 52%;
	}
	100% {
		top: 40%;
		left: 112%;
	}
}
@keyframes txt1 {
	0% {
		opacity: 1;
	}
	20%, 100% {
		opacity: 0;
	}
}
@keyframes txt2 {
	0%, 80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@media (max-width: 46.188em)
{
    .logo{
        height:50px;
        margin-left: 20px;
    }
    .search-bar{
        margin-right: 1%;
        height:50px;
    }
    .cart-info{
        display: none;
    
    }
    .cart-num{
        /* font-size:20px !important; */
        display: none;
    }
    .avt {
        display: none;
    }
    .header p{
        display: none;
    }
    .bar{
        display: block;
        height: 40px;
    }
    .brand{
        margin-top:100px;
        height: max-content;
    }
    .brands-logo{
        margin-top:-20px;
        margin-bottom: 30px;
    }
    .brand-logo{
        width: 40%;
        height:120px;
    }
    .brand-logo p{
        margin-top:110px;
        font-size:15px !important;
    }
    .text{
        font-size:30px !important;
    }
    .content{
        width: 80%;
        margin-left: 7%;
        height:300px;
    }
    .illustration{
        height:200px;
    }
    .name{
        font-size:200%;
    }
    .price-control{
        width:40%;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;

    }
    .price{
        font-size:1.3em;
        align-self: start !important;
        height:15px;
    }
    .quantity{
        height:25px;
    }
    .quantity button{
        height: 25px;
        width: 25px;
        font-size:20px;
    }  
    .quantity p{
        font-size:25px;
        margin-top:-5px;
    }
    .product-rate{
        height: 20px;
        margin-left: 23%;
    }
    .product-rate img{
        height: 20px !important;
    }
    .cart-button{
        width: 156px;
        height:45px;
    }
}
@media (min-width: 46.188em) and (max-width:48em )
{
    .logo{
        height:50px;
        margin-left: 20px;
    }
    .search-bar{
        margin-right:0;
        height:50px;
    }
    .cart-info{
    height:40px;
    }
    .cart-num{
        font-size:20px !important;
        height:22px !important;
        width: 20px !important;
    }
    .avt {
        height: 35px;
    }
    .cart-num{
        font-size: 15px !important;
        width: 15px;
    }

    .content{
        width: 80%;
        margin-left: 7%;
        height:400px;
    }
    .illustration{
        height:300px;
    }
    .name{
        font-size:250%;
    }
    .price-control{
        width:60%;
        justify-content: center;
        align-items: start;
        margin: 10px 0px;

    }
    .price{
        font-size:1.5em;
        align-self: start !important;
        height:20px;
    }
    .quantity{
        height:30px;
    }
    .quantity button{
        height: 28px;
        width: 28px;
        font-size:25px;
    }  
    .quantity p{
        font-size:25px;
        margin-top:-5px;
    }
    .product-rate{
        height: 30px;
        margin-left: 20%;
    }
    .product-rate img{
        height: 30px !important;
    }
    .cart-button{
        width: 180px;
        height:60px;
    }
}

@media (min-width: 48.1em) and (max-width:64em )
{
    .logo{
        height:50px;
        margin-left: 20px;
    }
    .search-bar{
        margin-right:0;
        height:50px;
    }
    .cart-info{
    height:40px;
    }
    .cart-num{
        font-size:20px !important;
        height:22px !important;
        width: 20px !important;
    }
    .avt {
        height: 35px;
    }
    .content{
        width: 80%;
        margin-left: 7%;
        margin-top: 150px;
        height:400px;
    }
    .illustration{
        height:300px;
    }
    .name{
        font-size:250%;
    }
    .price-control{
        width:60%;
        justify-content: center;
        align-items: start;
        margin: 10px 0px;

    }
    .price{
        font-size:1.5em;
        align-self: start !important;
        height:20px;
    }
    .quantity{
        height:30px;
    }
    .quantity button{
        height: 28px;
        width: 28px;
        font-size:25px;
    }  
    .quantity p{
        font-size:25px;
        margin-top:-5px;
    }
    .product-rate{
        height: 30px;
        margin-left: 20%;
    }
    .product-rate img{
        height: 30px !important;
    }
    .cart-button{
        width: 180px;
        height:60px;
    }
}
